.left {
background: #e46767;
color: rgb(0, 0, 0);
position: absolute;
top: 100px;
height: 600px;
left: 0px;
width: 100px;

}

.right {
    background: #e46767;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    height: 600px;
    right: 0px;
    width: 100px;
}

.bottom {
    background-color: aqua;
    position: absolute;
    top: 800px;
    height: 500px;
    right: 0px;
    left: 0px;
    text-align: center;
}

.title {
    text-align: center;
}

.video {
    position: absolute;
    top: 500px;
    right: 200px;
}


img {
    position: absolute;
    right: 0px;
    width: 10%;
    height: 10%;
}

ol {
    text-align: center;
}

ul
{
    text-align: center;
}